* {
    /* border: 2px dotted black; */
}
html, body {
    height: 100%;
    margin: 0px;
}
#main {
    width: 100%;
    top: 10%;
    bottom: 15%;
    left: 0;
    right: 0;
    position: fixed;
    overflow: scroll;
}
#welcomeMessageDiv, #today, #staticInfo {
    padding-left: 20%;
    padding-right: 20%;
    /* padding-top: 15%; */
}
#welcomeMessage {
    margin-bottom: 0;
}
#date {
    margin-top: 0;
}
#bottom {
    display: flex;
    width: 100%;
    height: 15%;
    align-content: center;
    background-color: #910000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.bottomButton {
    display: block;
    margin: auto;
    padding-top: 2.5%;
    background-color: #edb059;
    width: 20%;
    height: 0;
    padding-bottom: 16.5%;
    border-radius: 50%;
    border: 2px solid black;
    outline: none;
}
.bottomButton:active, .bottmButton:focus {
    box-shadow: 0 0 50px #edb059;
    outline: none;
}
.buttonImage {
    width: 100%;
    height: auto;
}
#karttaButtonImage {
    width: 90%;
    height: auto;
}
#kukkilintu {
    width: 80%;
    height: auto;
    padding: 10%;
}
