
<head>
    <title>SKO-galleria</title>

    <style>
		.rotate{
			 -webkit-transform: rotate(90deg); 
			 -ms-transform: rotate(90deg); 
			 transform: rotate(90deg); 
			 -webkit-transition: transform 1.05s ease-in-out; 
			 -moz-transition:transform 1.05s ease-in-out; 
			 -ms-transition:transform 1.05s ease-in-out; 
	    }
	    
    </style>
</head>
<body>

<button >reee</button>

<img src="aanestajarotta.jpg" class="fidget" name="test" alt="test"">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	$('[class*="fidget"]').on('click',function() { 

		if($(this).hasClass("rotate")){ 

			return; 
		} 
		
		$(this).addClass("rotate"); 
		var that = this; 

		setTimeout(function(){ 
			$(that).removeClass('rotate'); 
		},1250); 
	});

</script>

</body>
</html>