/* * {
    border: dotted 1px black;
} */
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#mainContainer {
    position: fixed;
    width: 100%;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}
.rowContainer {
    display: flex;
    filter: none;
}

.imageContainer {
    position: relative;
    width: 33%;
    padding: 2%;
}

#popUp {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    z-index: -1;
}

.pikkukuvat{
    padding: 20px;
    float: left;
    margin: 100px;
}
