<html>
    <head>
    <meta charset="UTF-8">
	    <meta name="viewport"
	         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title> Viestit -SKO päivät </title>
    <link rel="stylesheet" type="text/css" href="/~sku/viestit/public/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/~sku/viestit/public/header.css">
   {{!--  <script type="text/javascript" src="../javascript.js"></script> --}}
    <title>SKO-viestit</title>
    </head>
    <body>
       <div id="header">
            <div id="headerTextContainer">
                <div id="headerDiv">
                        <h1 id="headerText">SKO-päivät</h1>
                    </div>
                    <div id="headerSubDiv">
                        <h2 id="headerSubtext">Mappimerestä Digiavaruuteen</h2>
                    </div>
                </div>
            <div id="infoButtonDiv">
                <a href="/~sku/index.html"><img src="/~sku/ikonit/homenappi.svg" alt="(i)" id="homeImage"></a>
            </div>
        </div>
        <section class="get">
            <a href="http://IP/chatti"></a>
            <div id="chatContainer">
                {{# each items }}
                <article class="item">

                    <div>{{ this.submit_time }}: {{ this.msgfield }}
                        <form action="http://IP/chatti/like/+{{ this._id }}" method="POST">
                        <input type="hidden" name="id" value="{{ this._id }}">
                            <input type="submit" value="&#9829" id="likebutton">
                            {{ this.likes }}
                            </form>
                    </div>
                </article>
                {{/each}}
            </div>
        </section>
        <div id="messageContainer">
        <section class="insert">
        <form action="http://IP/chatti/insert-data" method="POST" id="msgform" onsubmit="getTime()">
            <input type="hidden" name="submit_time" id="time">
            <input type="hidden" name="likes" id="like_id">
            <textarea form="msgform" class= "floated" id="msgfield" name="msgfield" cols="40" rows="1" maxlength="160" placeholder="Viestin maksimipituus on 160 merkkiä"></textarea>
            <input type="submit" class= "floated" value="Lähetä" id="sendButton">
        </form>
        <br>
        </section>
        </div>

        </div>
        <script>
        // Funktio viestin aikaleimaa varten
        function getTime(){
        var date = new Date();
        var h = checkTime(date.getHours());
        var m = checkTime(date.getMinutes());
        // Luodaan muuttuja joka palautetaan muodossa HH:MM
        var time = h + ":" + m;
        document.getElementById("time").value = time;
        return true;
        }
        function checkTime(i){
            return (i < 10) ? "0" + i : i;
        }

        document.addEventListener('keydown', function(event) {
            if(event.keyCode == 13) {
            document.getElementById("sendButton").click();
            }
        });

       </script>
    </body>
</html>